<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="campos">
    <p>
        <label for="nombre">Nombre de la empresa</label><br>
        <input id="nombre" th:field="*{nombre}" required maxlength="150">
        <span th:errors="*{nombre}" role="alert"></span>
    </p>
    <p>
        <label for="nit">NIT</label><br>
        <input id="nit" th:field="*{nit}" required maxlength="255">
        <span th:errors="*{nit}" role="alert"></span>
    </p>
    <p>
        <label for="correoContacto">Correo de contacto</label><br>
        <input id="correoContacto" th:field="*{correoContacto}" type="email" required maxlength="255">
        <span th:errors="*{correoContacto}" role="alert"></span>
    </p>
</div>
</body>
</html>
